@import '../common/variabless.scss';
@import 'header.scss';
.body__wrapper {
   font-family: Montserrat-regular, sans-serif;
}
.main__container{
   display: flex;
   justify-content: space-between;
   padding: 33px 5px 0 5px;
}
.cart{
   margin-right: 33px;
   flex-grow: 1;
}

.cart__title{
   display: flex;
   justify-content: space-between;
   padding-right: 20px;
}
.cart__name{
   margin-top: 0;
}
.cart__list{
   list-style-type: none;
   padding: 0;
   margin-top: 0;
   margin-bottom: 50px;
}
.cart__item{
   border-top: 0.5px solid #CACDD8;
   padding-top: 25px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 32px;
}
.cart__image{
   margin-right: 30px;
}
.cart__item-container{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.cart__headline{
   margin: 0;
   font-size: 24px;
}
.cart__description{
   font-size: 14px;
   color: $grey;
   min-width: 276px;
   max-width: 276px;
   margin-top: 0;
   margin-bottom: 0;
}
.cart__button{
   font-family: Montserrat-regular, sans-serif;
   font-size: 14px;
   padding: 0;
   border: none;
   background-color: $white;
   text-decoration: underline;
   text-decoration-skip-ink: none;
}
   .cart__button:first-child{
      margin-right: 30px;
   }

.cart__quantity{
width: 71px;
height: 51px;
background: #F7F6F6;
border-radius: 6px;
border: none;
}
.cart__button-secondary{
font-family: Montserrat-regular, sans-serif;
font-size: 14px;
width: 200px;
padding: 10px 20px 10px 20px;
border-radius: 50px;
background-color: $white;
border: 1px solid #000000;
}
.cart__button-secondary--resuming{
   background-color: $black;
   color: $white;
}

@media (max-width: 965px){
   .main__container{
      display: block;
      min-width: 786px;
      padding: 0;
   }
   .cart{
      margin: 0;
   }
   .cart__title{
      padding-top: 31px;
   }
   .cart__button-secondary{
      margin-bottom: 64px;
   }
}
@media (max-width: 420px){
   .header__container{
      margin-bottom: 16px;
   }
   .main__container{
      min-width: 420px;
      padding: 0 16px 0 16px;
   }
   .cart__title{
      display: none;
   }
   .cart__image{
      display: none;
   }
   .cart__headline{
      font-size: 18px;
      margin-bottom: 8px;
   }
   .cart__description{
      font-size: 12px;
      margin-bottom: 15px;
   }
   .cart__price{
      font-size: 12px;
      margin-bottom: 15px;
   }
  .cart__button{
   font-size: 14px;
  }
  .cart__buttons-secondary{
   display: flex;
   justify-content: space-between;
  }
  .cart__button-secondary{
   width: 163px;
   padding: 6px 11px 6px 11px;
   font-size: 12px;
  }
}
