.catalog__items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   list-style-type: none;
   padding: 0px;
}

.catalog__item {
   max-width: 379px;
   height: 382px;
   position: relative;
}

.catalog__item:nth-child(0) {
   margin-left: 0px;
}

;

.catalog__headline {
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   color: $black;
}

.catalog__description {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: $grey;
}

.catalog__price {
   font-family: Montserrat-medium, sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #050505;
}

.catalog__btn {
   position: absolute;
}