@import '../common/variabless.scss';
.catalog__items {
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   list-style-type: none;
   padding: 0px;
   margin: 0;
}

.catalog__item {
   max-width: 379px;
   position: relative;
   margin-bottom: 48px;
}

.catalog__image {
   margin-bottom: 5px;
}

.catalog__headline {
   margin: 0px;
   font-size: 24px;
   color: $black;
}

.catalog__description {
   font-size: 14px;
   color: $grey;
}

.catalog__price {
   font-family: Montserrat-medium, sans-serif;
   font-size: 24px;
   color: #050505;
}

.catalog__btn {
   position: absolute;
   background: none;
   border: none;
}

.catalog__btn--buy {
   right: 55px;
   top: 10px;
}

.catalog__btn--favorites {
   right: 10px;
   top: 10px;
}

.catalog__btn--buy::after {
   content: url(/dist/images/icons/buy.png);
}

.catalog__btn--favorites::after {
   content: url(/dist/images/icons/favorite.png);
}
@media (max-width: 1140px) {
   .catalog__items{
      justify-content: space-around;
   }
 }
@media (max-width: 786px) {
  .catalog__items{
   width: 786px;
   flex-basis: 50%;
   flex-wrap: wrap;
  }
}

@media (max-width: 420px) {
   .catalog__items{
      width: 420px;
      justify-content: center;
     }
}