@import '../common/variabless.scss';
.checkout__container{
width: 379px;
background: #F7F6F6;
border-radius: 20px;
padding-top: 28px;
padding-bottom: 148px;
}
.checkout__form{
   display: flex;
   flex-direction: column;
   padding-left: 28px;
   padding-right: 64px;
}
.checkout__title{
   text-align: center;
   margin-bottom: 35px;
}
.checkout__input{
   font-family: Montserrat-regular, sans-serif;
   font-size: 14px;
   background-color:#F7F6F6;;
   border: none;
   border-bottom: 1px solid #CACDD8;
   margin-bottom: 41px;
}
.checkout__total{
   text-align: center;
   font-size: 24px;
}
.checkout__price{
   font-weight: 600;
}
.checkout__submit{
width: 290px;
padding: 10px 70px 10px 70px;
border-radius: 50px;
font-family: Montserrat-regular, sans-serif;
font-size: 16px;
display: block;
margin: 0 auto;
}