$black: #000000;
.checkout {
   width: 380px;
   height: 556px;
   padding: 0px;
   margin-top: 33px;
   background: #F7F6F6;
   border-radius: 20px;
}

.checkout__title{
   margin: 44px 6px 40px 0px;
   font-family: Montserrat-regular, sans-serif;
   text-align: center;
}

.checkout__form {
   display: flex;
   flex-direction: column;
   margin-left: 24px;
}
.checkout__input{
   font-family: Montserrat-regular, sans-serif;
   border: none;
   background: #F7F6F6;
   margin-bottom: 4px;
}
.checkout__input::placeholder{
   color: $black;
}
.checkout__total{
   text-align: center;
   font-size: 24px;
   margin-left: -10px;
   margin-bottom: 21px;
}
.checkout__submit{
   font-family: Montserrat-regular, sans-serif;
   font-size: 16px;
   width: 290px;
   height: 41px;
   border-radius: 50px;
   margin: 0 auto;
   display: block;
}

.checkout__grey-line{
width: 288px;
height: 0px;
border: 1px solid #CACDD8;
margin: 0px 0px 36px 0px;
}