@import '../common/variabless.scss';
@import '../common/visually-hidden.scss';
.body{
   margin: 0;
}
.header{
   max-width: 1200px;
   margin: 0 auto;
   background-color: $light-grey;
   color: $white;
}
.header__container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__logo{
   font-family: 'Montserrat-medium' sans-serif;
   font-size: 36px;
   font-weight: 600;
   text-decoration: none;
   color: $white;
   padding: 16px 0;
}
.header__list{
   display: flex;
}
.header__item{
   list-style-type: none;
}
.header__item:first-child{
   margin-right: 32px;
}
.header__link{
   color: $white;
   text-decoration: none;
}
@media(max-width: 800px){
.header{min-width: 786px;}
}
@media(max-width: 420px){
   .header{min-width: 420px;}
.header__logo{
   font-size: 18px;
}
.header__link{
   font-size: 12px;
}
}