$black: #000000;
.sort {
   height: 106px;
   position: relative;
}

.sort__select {
   width: 288px;
   height: 38px;
   position: absolute;
   right: 0%;
   bottom: 35%;
   border: 1px solid #C4C4C4;
   border-radius: 20px;
   font-family: Montserrat-medium, sans-serif;
   font-size: 16px;
   padding: 10px 0px 10px 14px;
   color: $black;
   appearance: none;
   background: url('/dist/images/icons/Polygon\ 1.svg') no-repeat right;
   background-position-x: 250px;
}