@import './blocks/header.scss';
@import './blocks/sort.scss';
@import './blocks/catalog.scss';
@import './blocks/cart.scss';
@font-face {
    font-family: 'Montserrat-medium';
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat-regular';
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
.main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
};