@font-face {
   font-family: 'Montserrat-medium';
   src: url(../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
   font-family: 'Montserrat-regular';
   src: url(../assets/fonts/Montserrat-Regular.ttf);
}